@charset "utf-8";

/* font family : Spoqa Han Sans Neo */
@font-face {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 700;
    src: local("Spoqa Han Sans Bold"),
    url("../fonts/SpoqaHanSansNeo-Bold.woff2") format("woff2"),
    url("../fonts/SpoqaHanSansNeo-Bold.woff") format("woff"),
    url("../fonts/SpoqaHanSansNeo-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 400;
    src: local("Spoqa Han Sans Regular"),
    url("../fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2"),
    url("../fonts/SpoqaHanSansNeo-Regular.woff") format("woff"),
    url("../fonts/SpoqaHanSansNeo-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Spoqa Han Sans Neo";
    font-weight: 300;
    src: local("Spoqa Han Sans Light"),
    url("../fonts/SpoqaHanSansNeo-Light.woff2") format("woff2"),
    url("../fonts/SpoqaHanSansNeo-Light.woff") format("woff"),
    url("../fonts/SpoqaHanSansNeo-Light.ttf") format("truetype");
}

/* font family : TGothic */
@font-face {
    font-family: "TgothicBlack";
    font-weight: 400;
    src: local("TgothicBlack");
    src: url("../fonts/TgothicBlack.eot"),
    url("../fonts/TgothicBlack.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TgothicBlack.woff") format("woff"),
    url("../fonts/TgothicBlack.ttf") format("truetype");
}
@font-face {
    font-family: "TgothicMedium";
    font-weight: 400;
    src: local("TgothicMedium");
    src: url("../fonts/TgothicMedium.eot"),
    url("../fonts/TgothicMedium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TgothicMedium.woff") format("woff"),
    url("../fonts/TgothicMedium.ttf") format("truetype");
}